@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

@layer components {
  .wrapper {
    padding: 1rem;
  }
  .fc {
    display: flex;
    align-items: center;
  }

  .fcc {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
